      <div style="background: url('<?php echo  base_url();?>client_assets/assets/banners/background.png') no-repeat;    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;">
        <div class="row">
          <div class="small-16 columns">
            <div class="cta-text" style="">
              
           
			  <a href="#" class="button cta-button" style="color: #1f1005;box-shadow: 0 1px #ffc600;
  
   
    font-size: 25px;
   
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px #ffc600;">GET STARTED </a>
            </div>
          </div>
        </div>
      </div>